<div ng-show="hideVideo" class="row text-center center-block">
	<i class="refresh-icon text-primary glyphicon glyphicon-refresh"></i>
</div>

<div ng-hide="hideVideo" class="embed-responsive embed-responsive-16by9">
	<iframe
		class="embed-responsive-item"
		ng-if="embedUrl" 
		ng-src="{{ embedUrl }}" 
		frameborder="0"
		allowfullscreen>
	</iframe>
	<div class="muted text-center">
		<strong>Tags:</strong>
		<small ng-repeat="tag in tags">{{ tag }} {{ ($last) ? '' : ', ' }} </small>
	</div>
</div>

