<div class="list-group">
  	<a
  		class="list-group-item row"
  		href="#"
  		ng-class="{ 'has-warning': searchText.length }"
		>
		<div class="list-group-item-heading lead col-md-3">Search </div>
		<div class="list-group-item-text col-md-9">
  			<input class="form-control" ng-model="searchText">
		</div>
  	</a>

	<a 
		class="list-group-item row" 
		ng-class="{ 'active': currentTalk.id === talk.id }"
		ng-repeat="talk in talks | filter:searchText track by talk.$id"
		ng-click="changeCurrentTalk(talk.$id)">

		<img class="pull-left img img-polaroid col-md-4" ng-src="{{ getThumbnail(talk.id) }}">

		<div class="col-md-8"
			class="list-group-item-text" 
			ng-bind-html="parseSummary(talk.summary)">
		</div>

		<div 
			class="pull-right"
			ng-repeat="tag in talk.tags">

			<span 
				class="label" 
				ng-class="{ 'label-warning': currentTalk.id === talk.id, 'label-primary': currentTalk.id !== talk.id }">
				{{ tag }}
			</span>
			&nbsp;&nbsp;

		</div>
	</a>

</div>