<style>
	.list-group-item {
		-webkit-transition: background 0.1s ease-in-out;
		-moz-transition: background 0.1s ease-in-out;
		-o-transition: background 0.1s ease-in-out;
		transition: background 0.1s ease-in-out;
	}
</style>
<div class="list-group">
  	<a
  		class="list-group-item"
  		href="#"
  		ng-class="{ 'has-warning': searchText.length }"
		>
		<h4 class="list-group-item-heading lead">Search </h4>
		<p class="list-group-item-text">
  			<input class="form-control" ng-model="searchText">
		</p>
  	</a>

	<a 
		class="list-group-item" 
		ng-class="{ 'active': currentTalk.id === talk.id }"
		ng-click="changeCurrentTalk($index)" 
		ng-repeat="talk in talks | filter:searchText">
		
		<h4 class="list-group-item-heading">
			{{ talk.title }}
		</h4>
		
		<p 
			class="list-group-item-text" 
			ng-bind-html="parseSummary(talk.summary)">
		</p>

	</a>

</div>